{
  "root": true,
  "extends": [
    "next",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
  },
  "rules": {
    "class-methods-use-this": "off",
    "dot-notation": "off",
    "no-mixed-operators": "off",
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "no-throw-literal": "error",
    "no-unused-vars": 1,
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ],
    "prefer-promise-reject-errors": "error",
    "prettier/prettier": 1,
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unused-modules": [
      1,
      {
        "unusedExports": true
      }
    ],
    "react/display-name": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": "off"
  },
  "overrides": [
    {
      "files": ["*.test.js"],
      "globals": {
        "after": false,
        "afterEach": false,
        "before": false,
        "beforeEach": false,
        "describe": false,
        "expect": false,
        "it": false
      }
    }
  ]
}
